In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = 'names'
cols = ['Name', 'Gender', 'Count']

In [5]:
def count_top3(years):
    names_years = []
    for year in years:
        tmp_names = pd.read_csv(os.path.join(path, 'yob' + year + '.txt'),
                               names=cols)
        names_years.append(tmp_names)
        print(tmp_names)
        
    if len(names_years) > 1:
        all_names = pd.merge(names_years[0], names_years[1], on=['Gender'])
        
        if len(names_years) > 2:
            for i in range(2, len(names_years)):
                all_names = pd.merge(
                all_names, names_years[i], on=['Name', 'Gender', 'Count'])

        print(all_names)

In [ ]:
count_top3(['1995', '2000'])

            Name Gender  Count
0        Jessica      F  27934
1         Ashley      F  26603
2          Emily      F  24379
3       Samantha      F  21645
4          Sarah      F  21371
5         Taylor      F  20426
6         Hannah      F  17012
7       Brittany      F  16476
8         Amanda      F  16347
9      Elizabeth      F  16185
10         Kayla      F  16086
11        Rachel      F  16043
12         Megan      F  15529
13        Alexis      F  14330
14        Lauren      F  13444
15     Stephanie      F  12978
16      Courtney      F  12770
17      Jennifer      F  12685
18        Nicole      F  12276
19      Victoria      F  12250
20       Brianna      F  11880
21         Amber      F  10962
22        Morgan      F  10875
23      Danielle      F  10650
24       Jasmine      F  10279
25     Alexandra      F  10160
26        Alyssa      F  10099
27       Rebecca      F   9904
28       Madison      F   9775
29     Katherine      F   8986
...          ...    ...    ...
26050    Yassine      M      5
26051    Yiannis      M      5
26052       Yoav      M      5
26053      Yomar      M      5
26054      Yonis      M      5
26055       Yoon      M      5
26056       York      M      5
26057  Yoshihiro      M      5
26058      Yovan      M      5
26059        Yul      M      5
26060     Yunior      M      5
26061       Yury      M      5
26062     Yutaro      M      5
26063   Zaccaria      M      5
26064  Zaccheaus      M      5
26065   Zacharry      M      5
26066   Zacheria      M      5
26067   Zackerie      M      5
26068   Zackhary      M      5
26069    Zayquan      M      5
26070    Zebulin      M      5
26071  Zecheriah      M      5
26072    Zenaido      M      5
26073     Zephan      M      5
26074   Zeppelin      M      5
26075      Zerek      M      5
26076       Zhen      M      5
26077      Ziggy      M      5
26078     Zuberi      M      5
26079       Zyon      M      5

[26080 rows x 3 columns]
            Name Gender  Count
0          Emily      F  25953
1         Hannah      F  23078
2        Madison      F  19967
3         Ashley      F  17996
4          Sarah      F  17691
5         Alexis      F  17628
6       Samantha      F  17265
7        Jessica      F  15706
8      Elizabeth      F  15092
9         Taylor      F  15077
10        Lauren      F  14174
11        Alyssa      F  13553
12         Kayla      F  13312
13       Abigail      F  13088
14       Brianna      F  12878
15        Olivia      F  12852
16          Emma      F  12545
17         Megan      F  11434
18         Grace      F  11283
19      Victoria      F  10923
20        Rachel      F  10670
21          Anna      F  10584
22        Sydney      F  10242
23       Destiny      F   9848
24        Morgan      F   9502
25      Jennifer      F   9384
26       Jasmine      F   9094
27         Haley      F   9069
28         Julia      F   8765
29       Kaitlyn      F   8759
...          ...    ...    ...
29734      Youki      M      5
29735       Yuan      M      5
29736       Yuji      M      5
29737    Zabrien      M      5
29738     Zaccai      M      5
29739  Zaccheaus      M      5
29740  Zackeriah      M      5
29741   Zackorie      M      5
29742      Zaeem      M      5
29743     Zaiden      M      5
29744       Zaim      M      5
29745     Zakeem      M      5
29746      Zakia      M      5
29747     Zakiah      M      5
29748     Zamari      M      5
29749     Zamier      M      5
29750      Zamon      M      5
29751     Zanden      M      5
29752      Zarak      M      5
29753    Zayveon      M      5
29754       Zeev      M      5
29755     Zefram      M      5
29756     Zekiel      M      5
29757      Zelig      M      5
29758      Zemar      M      5
29759       Zeph      M      5
29760      Zeven      M      5
29761      Ziggy      M      5
29762         Zo      M      5
29763      Zyier      M      5

[29764 rows x 3 columns]